.password__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.password__input {
  border: 1px solid lightgrey;
  font-size: 15px;
  padding: 5px 10px;
  outline: none;
}

.password__strength {
  display: flex;
  gap: 3px;
  align-items: center;
  width: 100%;
}

.password__strength div {
  height: 3px;
  width: 33.3%;
}


