<div class="password__container">
  <input
    type="password"
    class="password__input"
    placeholder="Enter your password"
    (input)="onPasswordEnter($event.currentTarget)"
    autofocus
  >
  <div class="password__strength">
    <div class="easy"
         appInputResultsPainter [strength]="strength"
    ></div>
    <div class="medium"
         appInputResultsPainter [strength]="strength"
    ></div>
    <div
      class="strong"
      appInputResultsPainter [strength]="strength"
    ></div>
  </div>
</div>


